body
{
    background-image: url(../images/Bluredimg.jpg);
    background-size:auto;
}

.form
{
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
}

.form
{
    padding: 2%;
}

.container
{
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar
{
    background-image: url(../images/gradient7.jpg);
    background-size: cover;
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.nav-item :hover
{
    border: 1px solid white;
    border-radius: 5px;
}

#logo1
{
    margin-left: 100px;
    border-radius: 10px;
}

#password-error
{
    max-width: 200px;
}

#formhd
{
    font-family:monospace;
}

.form{
    box-shadow: 7px 7px 30px black;
}