	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Varela', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		color: #656565;
		background-image: url(../images/gradient4.jpg);
		background-size: contain;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	ul.actions
	{
		text-align: center;
	}
		

	p
	{
		line-height: 180%;
	}
	

	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		margin-top: 10%;
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}

	.title
	{
		font-family: Arial, Helvetica, sans-serif;
	}

	.card
	{
		margin: 20px;
	}
	.col :hover img
	{
		filter: brightness(0.5);
		transition: 0.4s ease-in-out;
	}
	.col :hover
	{
		background-color: #74ced354;
		transition: 0.4s ease-in-out;
	}

	.card
	{
		box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;																						
	}
	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}
	
	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}



	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }



	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #af1641;
		border-radius: 7px;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	


	.title
	{
		margin-bottom: 3em;	
	}
	
	.title h2
	{
		margin-top: 30px;
		text-align: center;
		text-transform: none;
		color: #213111 !important;
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.7em;
		text-transform: initial;
		color: #6F6F6F;
	}

	
	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#logo h1
	{
		color: #FFF;
	}
	
	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}



	#banner
	{
		overflow: hidden;
		padding: 7em 0em 5em 0em;
		background-image: url(../images/3185738.jpg);
		border-radius: 0px 0px 10px 10px;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
	}
	#banner2
	{
		background-image: url(../images/Bluredimg1.jpg);
	}
	
	#banner .title
	{
		margin-bottom: 1em;
		text-transform: uppercase !important;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
	}
	
	#banner .button
	{
		margin-top: 3em;
		background: #dc572e !important;
	}
	
	.navbar
	{
		/* background-color: rgb(175, 12, 12); */
		background-image: url(../images/gradient7\(1\).jpg);
		background-size: cover;
	}
	 

	.collapse a
	{
	 color: #dadae6
	}

	#logo1
	{
		margin-left: 100px;
		border-radius: 10px;
	}

	


.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
		text-align: center;
}



	.dropdown- {
		background-color: #2DAAE4;
	}

	.carousel-inner {
		border-radius: 0px 0px 10px 10px;
	}

